{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto"></div>
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white"><strong><b>BETTER</b></strong> YOU</h1>
                <div class="my-4">
                    <h4>
                        <a href="" class="join-now-button btn btn-lg rounded-0 text-uppercase text-black py-3"><strong>Join Now</strong></a>
                    </h4>
                </div>
                <div class="my-4">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase text-black py-3"><strong>GEAR UP</strong></a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}