html {
    height: 100%;
}

body {
    background: url('/media/pexels-scott-webb-136404.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
    font-family: 'Maven Pro', sans-serif;
}

.message-container {
    height: 35vh;
}

.header-container {
    padding-top: 164px;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(255, 255, 255);
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(224, 224, 224);
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (max-width: 992px) {
    #nav-item {
        border: none !important;
    }
    body {
        background: url('/media/pexels-cottonbro-4752856.jpg') no-repeat center right fixed;
        background-size: cover;
    }
    .navbar {
        background-color: rgb(0,9,11,0.5)!important;
    }
}
