html {
    height: 100%;
}

body {
    background: url('/media/pexels-scott-webb-136404.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
    font-family: 'Maven Pro', sans-serif;
}

.container-fluid {
    min-height: 4rem;
}

/* Headings and menus */

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.btn-white {
    background-color: white;
}

.search-menu {
    background-color: rgb(0,0,0,0.5);
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(255, 255, 255);
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(224, 224, 224);
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.header-container {
    padding-top: 158px;
}

#topnav {
    background-color: rgb(0,9,11,0.125);
}

#product-nav{
    background-color: rgb(0,9,11,1)!important;
    max-width: 3840px;
    height: 158px;
}

.account-dropdown {
    position: absolute;
    transform: translate3d(0px, 6px, 0px);
    left: 0px;
    will-change: transform;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.register-dropdown {
    position: absolute;
    transform: translate3d(1px, 6px, 0px);
    left: 0px;
    will-change: transform;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 8rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.dropdown-item {
    padding: 0.125rem 0.5rem;
}

.dropdown-menu {
    box-shadow: 0 0 10px 1px black;
}

.black-drop {
    background: black;
}

.white-drop {
    background: white;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-button-detail {
    height: 42px;
    width: 42px;
    position: fixed;
    left: 1rem;
}

.btt-link, .btt-back {
    cursor: pointer;
    z-index: 1000;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (max-width: 991px) {
    #nav-item {
        border: none !important;
    }
    body {
        background: url('/media/pexels-cottonbro-4752856.jpg') no-repeat center right fixed;
        background-size: cover;
    }
    .header-container {
        padding-top: 94px;
    }
    #product-nav {
        height: 94px;
    }
}

@media (max-width: 454px) {
    #delivery-banner {
        display: none;
    }
}

.account-icon {
    display: none !important;
}

@media screen and (max-width: 300px) {
    .account-icon{
        display: block !important;
    }
    .account-head{
        display: none !important;
    }
    .list-inline-item {
        margin-right: 0.2rem !important;
    }
    .navbar {
        padding: 0.5rem 0.2rem;
    }
    .account-btn {
        padding-top: 10px;
        padding-bottom: 14px;
    }
    .dropdown-item {
        padding: 0.1rem;
        white-space: normal;
    }
    .dropdown-menu {
        min-width: auto;
    }
    .register-dropdown {
        transform: translate3d(-30px, 6px, 0px);
    }
}