<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a id="nav-item" class="logo-font font-weight-bold nav-link text-white mr-5 border border-white" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Membership
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">MONTHLY</a>
                <a href="" class="dropdown-item">6-MONTH CONTRACT</a>
                <a href="" class="dropdown-item">12-MONTH CONTRACT</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a id="nav-item" class="logo-font font-weight-bold nav-link text-white mr-5 border border-white" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">EQUIPMENT</a>
                <a href="" class="dropdown-item">TOPS</a>
                <a href="" class="dropdown-item">BOTTOMS</a>
                <a href="" class="dropdown-item">ACCESSORIES</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a id="nav-item" class="logo-font font-weight-bold nav-link text-white mr-5 border border-white" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Classes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">MOVEMENT</a>
                <a href="" class="dropdown-item">FULL BODY</a>
                <a href="" class="dropdown-item">HIIT</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a id="nav-item" class="logo-font font-weight-bold nav-link text-white mr-5 border border-white" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>

    </ul>
</div>