<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a id="nav-item" class="logo-font font-weight-bold nav-link text-white mr-5 border border-white" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
       
        <li class="nav-item dropdown">
            <a id="nav-item" class="logo-font font-weight-bold nav-link text-white mr-5 border border-white" href="#" id="gear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=equipment" class="dropdown-item">EQUIPMENT</a>
                <a href="{% url 'products' %}?category=tops" class="dropdown-item">TOPS</a>
                <a href="{% url 'products' %}?category=bottoms" class="dropdown-item">BOTTOMS</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">ACCESSORIES</a>
                <a href="{% url 'products' %}?category=equipment,tops,bottoms,accessories" class="dropdown-item">ALL GEAR</a>
            </div>
        </li>

        <li class="nav-item">
            <a id="nav-item" class="logo-font font-weight-bold nav-link text-white mr-5 border border-white" href="{% url 'classes' %}" id="classes-link">
                Classes
            </a>
        </li>

    </ul>
</div>