{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <header class="container-fluid fixed-top" id="product-nav">
        <div class="row pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link border border-white">
                    <h2 class="rounded-0 text-white my-0"><strong>BETTER</strong> YOU</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 w-100 my-auto py-3 py-lg-0">
                <form method="GET" action="">
                    <div class="input-group w-100">
                        <input class="form-control" type="text" name="q" placeholder="SEARCH">
                        <div class="input-group-append">
                            <button class="form-control border-0 rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown border-0">
                        {% if request.user.is_authenticated %}
                            <a class=" text-white border border-white rounded-0 nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <p class="my-0 d-xs-none">ACCOUNT</p>
                                </div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="user-options">
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">PRODUCT MANAGEMENT</a>
                                {% endif %}
                                    <a href="" class="dropdown-item">PROFILE</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">LOGOUT</a>
                            </div>                          
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %} text-white{% endif %} border border-white rounded-0 nav-link" href="">
                            <div class="text-center">
                                <p class="my-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                        {% else %}
                    <li class="list-inline-item">
                        <a class=" text-white border border-white rounded-0 nav-link" href="{% url 'account_signup' %}">REGISTER</a>
                    </li>
                    <li class="list-inline-item">
                        <a class=" text-white border border-white rounded-0 nav-link" href="{% url 'account_login' %}">LOGIN</a>
                    </li>
                        {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark w-100">
                <button class="navbar-toggler custom-toggler rounded-0" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
            </div>            
        </div>
    </header>
    <div class="container header-container" id="product-nav">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-12 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}